{% extends 'base.html' %}

{% block content %}

<h1>Edit your Feedback</h1>

{% for msg in get_flashed_messages() %}
  <p>{{ msg }}</p>
{% endfor %}

<form action="/feedback/{{ feedback.id }}/update" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden' %}

  <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>

  {% endfor %}

  <button type="submit">Submit</button>
</form>

{% endblock content %}